@(catForm: Form[Cat])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a cat information</h1>
    
    @form(routes.Application.save(), 'enctype -> "multipart/form-data") {
        
        <fieldset>
        
            @inputText(catForm("name"), '_label -> "Cat name", '_help -> "")
            @inputText(catForm("color"), '_label -> "Color", '_help -> "")
			@inputText(catForm("breed"), '_label -> "Breed", '_help -> "")
           
            @select(
  				 catForm("gender"),
  				 options("f" ->"Female","m" ->"Male"),
   				'_label -> "Gender", '_default -> "-- Select gender --"
			)
			@inputFile(catForm("picture"), '_label -> "Picture", '_help -> "")
       
            
        </fieldset>
      
        
        <div class="actions">
            <input type="submit" value="Add this cat information" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
		
    
    
    }
    
}
