@(id: Long, catForm: Form[Cat])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit cat information</h1>
    
    @form(routes.Application.update(id), 'enctype -> "multipart/form-data") {
        
        <fieldset>
        
            @inputText(catForm("name"), '_label -> "Cat name", '_help -> "")
            @inputText(catForm("color"), '_label -> "Color", '_help -> "")
			@inputText(catForm("breed"), '_label -> "Breed", '_help -> "")
         	
         	@select(
  				 catForm("gender"),
  				 options("f" ->"Female","m" ->"Male"),
   				'_label -> "Gender", '_default -> "-- Select gender --"
			)            
			@inputFile(catForm("picture"), '_label -> "Picture", '_help -> "")
            
        </fieldset>
        
        <div class="actions">
            <input id="submit" type="submit" value="Save cat information" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }

   <button id="deleteCat" class="btn danger topRight"
	data-toggle="modal" data-target="#deleteConfirm">
	Delete cat information
   </button>

	<!-- Modal -->
	<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Confirm</h4>
				</div>
				<div class="modal-body">Are you sure you want to delete cat @catForm("name").value.getOrElse("") information</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">Cancel</button>
					@form(routes.Application.delete(id)) { <input id="confDeleteCat"
						type="submit" value="Delete cat information" class="btn primary"/>
					}
				</div>
			</div>
		</div>
	</div>

    
    
}

