@(id: Long, catForm: Form[Cat])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit cat information</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
            @inputText(catForm("name"), '_label -> "Cat name", '_help -> "")
            @inputText(catForm("color"), '_label -> "Color", '_help -> "")
			@inputText(catForm("breed"), '_label -> "Breed", '_help -> "")
            @inputText(catForm("gender"), '_label -> "Gender", '_help -> "")
            @inputFile(catForm("picture"), '_label -> "Picture", '_help -> "")
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save cat information" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete cat information" class="btn danger" onclick="return confirm('Are you sure?');">
    }
    
    
}
